EXP1/ 
EXP2/ 
*.o
*.mod
*.nc
# validation test for cam!
#models/atm/cam/bld/
models/atm/cam/bld/mct/
tools/cprnc/
models/atm/cam/src/html/
models/atm/cam/bld/Depends
models/atm/cam/bld/Filepath
models/atm/cam/bld/Makefile
models/atm/cam/bld/Srcfiles
models/atm/cam/bld/cam
models/atm/cam/bld/*.log
models/atm/cam/bld/*_in
models/atm/cam/bld/*ing
models/atm/cam/bld/rpointer.*
models/atm/cam/bld/*.h
models/atm/cam/bld/*.xml